/* ServicosEmAndamento.module.css */
.servicosEmAndamento {
  padding: 20px;
}

.servicosEmAndamento h1 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.servicoItem {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.servicoItem h2 {
  color: rgb(255, 255, 255);
  margin-top: 0;
  text-align: center;
}

.servicoItem ul {
  list-style-type: none;
  padding: 0;
}

.servicoItem ul li {
  padding: 5px 0;
}

.servicoItem a {
  color: #007bff;
  text-decoration: none;
}

.servicoItem a:hover {
  text-decoration: underline;
}
