.vehiclesContainer {
    margin: 20px;
    padding: 20px;
    background-color: #1a1725;
    border-radius: 8px;
    width: auto;
    max-width: 1400px;
    margin: 0 auto;
    color: #fff;
    height: auto;
    margin-left: 300px;
  }
  
  .vehiclesContainer h2 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 24px;
  }
  
  .vehicleCard {
    background-color: #272933;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
  }
  
  .vehicleCard h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .vehicleInfo {
    font-size: 14px;
    margin-bottom: 15px;
  }
  
  .cardActions {
    display: flex;
  }
  
  .btnAjuda{
    padding: 10px 10px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgb(107, 107, 0);
    margin: 5px;
  }
  .btnEditar{    
    padding: 10px 10px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #005bb5;
    margin: 5px;

  }

  
  .btnExcluir {
    padding: 10px 8px;
    background-color: #ff0000;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 5px;

  }
  
  .btnAjuda:hover,
  .btnEditar:hover,
  .btnExcluir:hover {
    background-color: #00ff0d;
  }
  
  @media (min-width: 768px) {
    .vehicleCard {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .vehicleInfo {
      flex: 1;
      margin-left: 20px;
    }
  
    .cardActions {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  